
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Records</title>
</head>
<body>
    <h2>User List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.ID}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.username}"></td>
                <td>
                    <a th:href="@{/update/{id}(id=${user.ID})}">Update</a> |
                    <a th:href="@{/delete/{id}(id=${user.ID})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
	
	
	<button type="submit">Add user</button>
</body>
</html>

